
body{
    overflow: visible;
    margin:0;
    background-color: rgb(37 34 34);
}

p{
    font-weight: 900;
    font-style: italic;
    font-size: 1.3em;
    letter-spacing: 1.2px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}
.menuBar{
    z-index: 6;
    position: fixed;
    width:100%;
    top:0;
    margin:0 auto;
    height:100px;
    border-color: black;
    background-color:transparent;
    font-size:60px;
}

.menuBar i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top:10px;
    color:white;
    font-size:55px;
}

.menu{
    overflow: scroll;
    z-index: 4;
    position: fixed;
    top:105px;
    width:220px;
    right:0;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
}

.menu ul{
    list-style-type: square;
}
.menu li{
    float:none;
}

.menu li a{
    font-size: 25px;
    line-height: 2em;
    padding-left:20px;
}

.menu li a:hover{
    font-style: italic;
    text-decoration: underline;
}

  
.headerIntro{
    min-height: 600px;
    position:relative;
    top:0;
    width:100%;
    height:100%;
    background-color: rgb(37 34 34);
    animation-name: colorSwitch;
    animation-timing-function: linear;
    animation-duration: 9s;
}

@keyframes colorSwitch {
    100.0% {background-color: rgb(37 34 34);}
    50.0% {background-color: rgb(187, 159, 163);}
    100.0%{background-color: rgb(37 34 34);}
  }

.selfIntro{
    position:absolute;
    width:80%;
    top:25%;
    left:10%;
    height:50%;
    background-color: transparent;
    /*background-color: rgba(136, 38, 136, 0.1); /* SATTLE OPACITY LIKE THIS SO YOU WILL NOT HAVE A PROBLEM WITH TEXT, SINCE THAT OPACITY AFFECTS JUST THE BACKGROUND!! */
    font-size: 60px;
    text-align: center;
}

.selfIntro p{
    font-size: 0.7em;
    letter-spacing: 3px;
    color:rgba(255, 255, 255,1);
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 400;
    animation-name: colorSwitchforP;
    animation-duration: 9s;
}

  @keyframes colorSwitchforP {
    100.0% {color: rgb(255, 255, 255);}
    50.0% {color: black;}
    100.0% {color: rgb(255, 255, 255);}
  }


.scrollBtn{
    position:absolute;
    top:80%;
    height:12.5%;
    background-color: transparent;
    border-color:rgb(109, 109, 161);
    border-style: double;
    text-align: center;
    color:white;
    font-weight: 900;
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;

}

@media only screen and (min-width:760px){
    .scrollBtn{
        width:30%;
        left:35.5%;
    }
}

@media only screen and (max-width:760px){
    .scrollBtn{
        width: 40%;
        left:30%;
    }
}

@media only screen and (max-width:435px){
    .scrollBtn{
        font-size:1.1em;
    }
}
@media only screen and (min-width:530px) and (max-width:700px){
    .selfIntro p{
        font-size:0.6em;
    }
}

@media only screen and (min-width:365px) and (max-width:530px){
    .selfIntro p{
        font-size:0.5em;
    }
}
@media only screen and (max-width:365px){
    .selfIntro p{
        font-size:0.4em;
    }
}

.sectionHeader{
    background-color: rgb(37 34 34);
    position: relative;
    width:100%;
    box-sizing: border-box;
    margin:0 auto;
}


.sectionHeader h1{
    padding:15px;
    font-weight: 900;
    font-size:2.4em;
    letter-spacing: 4px;
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    color: white;
    margin: 0%;
    margin-top: 10%;
}

.sectionHeader1{
    margin-top: 20%;
}


.about{
    text-align: center;
}
.contact{
    text-align: center;
    margin-bottom: 20%;
}

.a{
    position:relative;
    padding:5%;
    margin:5%;
    background-color: brown;
    width:150px;
    height:150px;
}

.about a{
    color:  rgb(187, 159, 163);
}

#contact_me_accounts{
    margin-top: 5%;
}

span{
    padding-left: 5%;
    padding-right: 5%;
}




